
.header,
.main-section, 
.main__button {
    font-family: MuseoSansCyrl300;
}
body {
    background-image: url('img/fon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;

}

 .main-section {
	margin: auto;
}
.wrapper {
	/* margin: auto; */
	/* width: 80%; */
	margin-left: 200px;
}
.header {
	padding: 79px 0px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 65.5px;
	margin-right: 101px;
	margin-top: 8px;
}
.logo {
    width: 146px;
    height: 55px;
    top: 1px;
    background: url('img/logo.svg');
    position: relative;
}
.menu {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 11px;
}
.menu__item {
    position: relative;
    margin: 11px 18px;
    font: 300 21px/14px MuseoSansCyrl300;
    color: #F8EEE4;
    text-decoration: none;
    transition: opacity .5s;
    letter-spacing: 1px;
}
.bali__title {
    font: 700 278px/343px 'PT Serif';
    /* width: 115px; */
    /* height: 21px; */
    /* opacity: 36%; */
    color: rgba(248, 238, 228, 0.4);
    background-blend-mode: overlay;
    display: flex;
    margin: 1px;
    margin-right: 22px;
    position: relative;
}
.indonesia__title {
    font: 700 104px/55px 'PT Serif';
    /* width: 444px; */
    /* height: 76px; */
    /* padding-top: 90px; */
    /* padding-left: 84px; */
    background-blend-mode: overlay;
    color: #F8EEE4;
    margin: 0;
}
.main-content__title {
    font: 700 19px/26px MuseoSansCyrl300;
    /* width: 554px; */
    padding-top: 8px;
    padding-left: 20px;
    color: #F8EEE4;
    max-width: 553px;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.main__button {
    font: 700 24px/14px MuseoSansCyrl300;
    width: 296px;
    height: 65px;
    padding-top: 3px;
    /* padding-right: 20px; */
    /* padding-left: 2px; */
    background: #D4BEA3;
    color: #FFFFFF;
    border-radius: 46px;
    text-decoration: none;
    display: inline-block;
    transition: opacity .5s ease;
    margin-left: 22px;
    margin-top: 20px;
}
.main-section{
    display: flex;
    justify-content: space-between;
}
.img {
    /* padding-left: 129px; */
    display: flex;
    align-items: center;
    /* justify-content: end; */
    /* width: 100%; */
    padding-top: 81px;
}
.menu__item:last-child{
    margin-right: 0;
}
.bali__title::before {
    content: "Indonesia";
    position: absolute;
    bottom: 35px;
    right: 5px;
    font: 700 94px/55px 'PT Serif';
    color: #F8EEE4;
    letter-spacing: 2px;
}
.img img:nth-child(2) {
    margin: 0px  33px;
}

@media(max-width: 1400px) {
    body {
        background-image: url('img/fon1366.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        margin: 0;
    }
  .wrapper {width: 87%;}
  .header {
      margin-top: 11px;
      padding: 50px 0px;
      margin-bottom: 11px;
      margin-right: 65px;
      margin-left: -58px;
  }
  .logo {
    width: 105px;
    height: 40px;
    background: url('img/logo1366.svg');
  }
  .menu__item {
    position: relative;
    margin: 12px 5px;
    font: 300 18px/14px MuseoSansCyrl300;
    color: #F8EEE4;
    text-decoration: none;
    transition: opacity .5s;
    letter-spacing: 2px;
  }
}