
@font-face { 
    font-family: "MuseoSansCyrl300";
    src: url("MuseoSansCyrl300.eot");
    src: url("MuseoSansCyrl300.eot?#iefix")format("embedded-opentype"),
    url("MuseoSansCyrl300.woff") format("woff"),
    url("MuseoSansCyrl300.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
